body{
  font-family:Montserrat;

}
#title{
  background-color: black;

}
a{
  color: #8f8f8f;
}
a:hover{
  color: #2f4f4f;
}
.container-fluid{
  padding: 0 2%;
}
h1{
  color: #18170E;
  font-family: 'Oleo Script', cursive;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 1.5;
  padding-bottom: 2%;

}
h2{
  text-align: center;
  color: #11130D;
  font-family:Montserrat;
  font-weight: bold;
  font-size: 3.3rem;
  line-height: 1.5;
  padding: 3% 0% 4%;
}

h3{
  font-family:Montserrat;
  font-size: 1.5rem;
  font-weight: 900;
}

/* Navigation Bar */
.navbar{
  /* padding: 0 0 1rem; */

}

.navbar-brand{
  font-family: 'Baloo Chettan 2', cursive;
  font-size: 2.5rem;

}

.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: lighter;
}
.gen{
  background-color: #c0c0c0;
  text-align: center;
}
.genre{
  margin:0;
}
.a-genre{
  color: #212119;
}

/* CAROUSEL */
#slides{
  margin: 0% 0 3%;
}
.slides-img{

}
slides-img:hover{
  opacity: 0.6;
}
.slide-text{
  padding-top: 0;
  padding-bottom: 2%;
}
.subtext{
  padding-bottom: 10%;
  padding-top: 0;
}
.body-image{
  text-align: center;
  height: 500px;
  background-color: #c0c0c0;
}
.body-img{
  width:
}
.carousel-item{
    height:500px;
}

/* Feature BOKS */
#feature-books{
  padding: 5% 10%;
  background-color: #fff;

}

.fbook{
  text-align: center;
  padding-bottom: 3%;

}
.fbox{
  text-align: center;
  padding:0;
}
.featbook{
  height: 200px;
  width: 125px;
  max-width: 100%;
  padding-bottom: 7%;
}
.feat{
  color: #363F29;
}

/* reviews */
.review{
  padding:1% 15% 4%;
  background-color: #CEE8E5;
}
.revh1{
  color: #096156;
  padding: 3% 0 5%;
  font-size: 6rem;
}

.revinp{
  margin:  0 0 2%;
  border-radius: 10%;
}


/* about us */

/* .about-us{
  /* background-color:#FCF4F1; */
  /* text-align: center;
  margin: 7% 0% 5%;
  height: 400px;

}
.about-img{
  width: 10%;
  margin: 5% ;
  border-radius: 50%;
} */

/* contact us */
.contact-us{
  padding: 1% 15%;
  background-color: #c0c0c0;
  text-align: center;
  height: 200px;
}
.con-icon{

  margin: 1% 2%;


}
.submit-mail{
  text-align: left;

}

/* bottom-space */
.b-space{

  background-color: #c0c0c0;
  text-align: center;
}
.b-text{

  font-family: monospace;
  color: black;
}
